<div class="relative isolate py-14 overflow-hidden">

  {% if page.header.mesh %}
  {% include mesh-bg.html %}
  {% endif %}

  <div class="">
    <div class="mx-auto max-w-7xl px-6 lg:px-32">
      <div class="mx-auto max-w-3xl text-center">
        <h1 class="text-4xl font-semibold tracking-tight text-gray-900 sm:text-6xl">{{ page.header.title }}
        </h1>
        <p class="mt-6 text-lg leading-8 text-gray-600"> {{ page.header.subtitle }}</p>
        {% if page.header.action %}
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a href="{{ page.header.action.primary_url }}"
            class="group inline-flex items-center justify-center rounded-full z-40 py-3 px-4 text-sm  focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-primary text-white hover:bg-slate-700 hover:text-slate-100 active:bg-slate-800 active:text-slate-300 focus-visible:outline-slate-900">
            {{page.header.action.primary_label}}</a>
          {% if page.header.action.secondary_label %}
          <a href="{{page.header.action.secondary_url }}"
            class="group inline-flex ring-1 items-center justify-center rounded-full py-2 px-4 text-sm focus:outline-none ring-slate-200 text-slate-700 hover:text-slate-900 hover:ring-slate-300 active:bg-slate-100 active:text-slate-600 focus-visible:outline-blue-600 focus-visible:ring-slate-300">
            {{page.header.action.secondary_label}} </a>
          {% endif %}
        </div>
        {% endif %}
      </div>
      {% if page.header.image %}
      <div class="mt-16 flow-root sm:mt-24">
        <div class="-m-2 lg:-m-4 lg:p-4 ">
          <img src="{{site.baseurl}}{{page.header.image}}" alt="" class="max-w-4xl mx-auto relative z-50">

          <div class=" absolute left-1/2 top-0 -translate-x-1/2 -translate-y-1/2 overflow-hidden">
            <img src="{{site.baseurl}}assets/img/big-circle-hero.svg" alt="Product screenshot"
              class="w-[48rem] max-w-none rounded-xl -z-10 sm:w-[60rem] animate-spin-slow">
          </div>
          <div class="isolate absolute left-1/2 top-0 -translate-x-1/2 -translate-y-[27%] md:-translate-y-1/2">
            <img src="{{site.baseurl}}assets/img/big-circle-hero.svg" alt="Product screenshot"
              class="w-[21rem] max-w-none rounded-xl -z-10 sm:w-[45rem] animate-spin-slow-reverse">
          </div>

        </div>
      </div>
      {% endif %}
    </div>
  </div>
  <!-- <div
    class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
    aria-hidden="true">
    <div
      class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
    </div>
  </div> -->
</div>