<section id="secondary-features" aria-label="Features for simplifying everyday business tasks"
  class="pb-14 pt-20 sm:pb-20 sm:pt-32 lg:pb-32">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl md:text-center">
      <h2 class="font-custom font-custom text-xl tracking-tight text-slate-900 sm:text-4xl font-semibold font-semibold">
        Simplify everyday business tasks.
      </h2>
      <p class="font-custom mt-4 text-lg tracking-tight text-slate-700 font-light">
        Because you’d probably be a little confused if we suggested you complicate your everyday business tasks instead.
      </p>
    </div>

    <div class="hidden lg:mt-20 lg:block">
      <div class="grid grid-cols-3 gap-x-8">
        {% for feature in section.benefits %}
        <div class="relative">
          <div class="w-9 rounded-lg {% if feature.isActive %}bg-blue-600{% else %}bg-slate-500{% endif %}">
            <img class="w-9 h-9" src="{{feature.icon}}" alt="">
          </div>
          <h3 class="mt-6 text-sm font-medium {% if feature.isActive %}text-blue-600{% else %}text-blue-600{% endif %}">
            {{ feature.title }}
          </h3>
          <p class="mt-2 font-display text-xl text-slate-900">
            {{ feature.subheading }}
          </p>
          <p class="mt-4 text-sm text-slate-600">
            {{ feature.description }}
          </p>
        </div>
        {% endfor %}
      </div>
      <div class="relative mt-20 overflow-hidden rounded-xl bg-slate-200 px-14 py-16 xl:px-16">
        <div class="-mx-5 flex">
          {% for feature in section.benefits %}
          <div class="px-5 transition duration-500 ease-in-out {{ feature.isActive ? 'opacity-100' : 'opacity-60' }}">
            <div
              class="w-[52.75rem] overflow-hidden rounded-xl bg-white shadow-lg shadow-slate-900/5 ring-1 ring-slate-500/10">
              <img class="w-full" src="{{ feature.image }}" alt="" sizes="52.75rem">
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-slate-900/10"></div>
      </div>
    </div>
  </div>
</section>