<div>
  <div class="mx-auto max-w-7xl md:text-center md:pt-32 pt-20 md:px-0 px-10" id="footprint">
    <h2 class="font-custom text-3xl tracking-tight text-slate-900 sm:text-4xl ">
      {{section.footprint-title}}
    </h2>
    <p class="mt-4 text-lg max-w-4xl mx-auto tracking-tight text-slate-700">
      {{section.footprint-desc}}
    </p>
    <div class="geo_map md:mt-20 mt-10 md:overflow-hidden overflow-x-auto">
      <img src="{{section.footprint-img}}" alt="" class=" w-full load_svg geo_map_svg">
    </div>

  </div>
</div>