<div class="absolute inset-y-0 left-0 -z-10 w-full overflow-hidden ring-1 ring-white/5 lg:w-full">
  <div
    class="absolute -left-56 top-[calc(100%-13rem)] transform-gpu blur-3xl lg:left-[max(-14rem,calc(100%-59rem))] lg:top-[calc(50%-7rem)]"
    aria-hidden="true">
    <div class="aspect-[1155/678] w-[72.1875rem] bg-gradient-to-br from-[#4bfffc] to-[#4f46e5] opacity-30"
      style="clip-path: polygon(74.1% 56.1%, 100% 38.6%, 97.5% 73.3%, 85.5% 100%, 80.7% 98.2%, 72.5% 67.7%, 60.2% 37.8%, 52.4% 32.2%, 47.5% 41.9%, 45.2% 65.8%, 27.5% 23.5%, 0.1% 35.4%, 17.9% 0.1%, 27.6% 23.5%, 76.1% 2.6%, 74.1% 56.1%)">
    </div>
  </div>
</div>
<div class="">
    <div class="max-w-6xl mx-auto md:py-16 py-10 md:px-10 p-5">
      <div class="grid md:grid-cols-5 grid-cols-2 gap-5">
  
        {% for item in site.data.clients%}
        <div class="client_logo {{item.class}}  p-3 opacity-0" >
          <img src="{{item.logo}}" alt="{{item.title}}"  class="h-32 mx-auto w-auto object-contain" />
        </div>
        {% endfor %}
  
      </div>
    </div>
  </div>
  <div>
    <div class="absolute top-[10%] right-0 -z-10 ">
       <img src="{{site.baseurl}}assets/img/circle-blog.webp" alt="">
    </div>
    <img src="{{section.shape-one}}" alt="" class="absolute left-0 top-[22%] z-[-1]">
    <img src="{{section.shape-two}}" alt="" class="absolute right-0 top-[40%] z-[-1]">
 </div>
 
