@font-face {
       font-family: "Lexend", sans-serif;
    src: url('../fonts/Lexend-Light.ttf') format('ttf'),
      url('../fonts/Lexend-Light.ttf') format('tff'),
   
  }
  
  @font-face {
       font-family: "Lexend", sans-serif;
    src: url('../fonts/Lexend-SemiBold.ttf') format('ttf'),
      url('../fonts/Lexend-SemiBold.ttf') format('ttf');
    
  }
  
  @font-face {
       font-family: "Lexend", sans-serif;
    src: url('../fonts/Lexend-Regular.ttf') format('ttf'),
      url('../fonts/Lexend-Regular.ttf') format('ttf');
   
  }
  
  @font-face {
       font-family: "Lexend", sans-serif;
    src: url('../fonts/Lexend-Medium.ttf') format('ttf'),
      url('../fonts/Lexend-Medium.ttf') format('ttf');
   
  }
  
  @font-face {
       font-family: "Lexend", sans-serif;
    src: url('../fonts/Lexend-Bold.ttf') format('ttf'),
      url('../fonts/Lexend-Bold.ttf') format('ttf');
   
  }
  

 