$backgroundColor: #f5f5f7;
// $backgroundColor: #fff;
// $backgroundColor: #E7E9F6;

$bodyColor: #000000;



body {
  @apply text-black bg-[#f5f5f7] ; 
  font-family: "Lexend", sans-serif;
}

p {
  margin-bottom: 1rem;
}

.page-container h2 {
 

  font-weight: normal;
  font-size: 2rem !important;
}
.page-container h1 {
  font-size: 2.5rem !important;
 line-height: normal !important;
 margin-bottom: 2.2rem !important;

}
.page-container p {
    margin-bottom: 2.2rem;
}

